html, body {
    height: 100%;
}



#top {
    height: 10%;
    text-align: center;
}

h1 {
    padding-top: 1%;
    font-size: 3em;
    line-height: 100%;
    display: inline;
}

button {
    font-size: 3em;
}




#calendar {
    height: 80%;
    width: 80%;

    margin: 0 auto;

}

.day {
    height: calc(100% / 6);
    width: calc(100% / 7);

    float: left;

    box-sizing: border-box;
    border: 1px solid black;

    font-size: 2em;
    padding: 0.5%;
}

.other-month {
    color: gray;
}